---

---

<!-- We can create components like react and use them reusable code in html -->
<div id="main-menu" class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blogs</a>
    <a href="/projects/">Projects</a>
</div>
